#logo{
    padding: 4%; 
    background: blue;
     width: 35%;
      float: left;
}
#email{
    padding: 4%;
     background: greenyellow; 
     width: 35%;
      float: left;
}

.clear{
    clear: both; 
}

.left-side{
    padding: 4%;
    background: pink;
    width: 35%;
    float: left;
}
.right-side{
    padding: 4%;
    background: lightgreen; 
    width: 35%;
    float: left;
}
.clear{
    clear: both; 
}

#nav-bar {
    background-color: blanchedalmond;
    width: 86%;
}
#nav-bar ul{
    margin: 5px;
    padding: 0;
} 

.menu{
    padding: 1%;
    background: orchid; 
    width: 15%; 
    float: left;
    margin-left: 5px; 
    list-style: none;
}

.menu a{
    text-decoration: none; 
    display: block; 
    width: 100%
}

.menu:hover{
    background: burlywood;
}


#footer{
    background-color: blanchedalmond;
    padding: 5%;
    width: 76%;
    margin: 5px;
}
